.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #000000;
    background-color: #fff;
    border-top: 1px solid #000000;
    margin-top: 60px;
    flex:  1 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__addr img{
    width: 200px;
    
  }
  
  .footer__addr  {
    margin-top: 1.3em;
    font-size: 14px;
    font-weight: 400;

  }
  
  .nav__title {
    font-weight: 600;
    font-size: 14px;
  }
  
  .footer address {
    font-style: normal;
    color: #8b8b8b;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 12px;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-direction: row;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #000000;
    font-size: 14px;
  }
  .nav__ul i{
    padding: 10px;
  }
  
  .legal {
    padding-top: 60px;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
  }
    
  .legal__links {
    display: flex;
    font-size: 12px;
    padding-left: 20px;
    align-items: center;
  }
  .legal__links span{
    padding-left: 20px;
    font-weight: 300;
  }
  .email-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    transition: border-color 0.3s;
    font-family: 'Poppins', sans-serif; /* Optional font styling */
  }
  
  .next-icon {
    font-size: 18px;
    color: #ccc;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .next-icon:hover {
    color: #b1236a; /* Darken the arrow on hover */
  }
  .nav__ul--extra{
    font-size: 14px;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
      
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 1;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }